{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<title>New User</title>
{% endblock head %}


{% block body %}
<br></br>
<h1 >Register!</h1>
<form action='/add' method='post'>
    <!-- Name input -->
    <div class="form-outline mb-4"><center>
      <label class="label" for="form4Example1">Name</label>
      <input type="text" name='username' id="form4Example1" class="form-control" />
      </center>
    </div>
  
    <!-- Email input -->
    <div class="form-outline inp mb-4"><center>
      <label class="label" for="form4Example2">Email address</label>
      <input type="email" name='useremail'id="form4Example2" class="form-control" required/>
      </center>
    </div>
  
 
  
    <!-- Checkbox -->
    <div class="form-check">
      <input class="form-check-input me-2" type="checkbox" value="" id="form4Example4" checked />
      <label class="label" for="form4Example4">
        Send me a copy of this message
      </label>
    </div>
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary mb-4">Register</button>
  </form>
  

  
{% endblock body %}